<section class="course">
  <%- include("../modules/components/_headline.html", { modifier:
  "headline-center", main: "APP", sub: "2つのアプリ" }) %>

  <ul class="course-list">
    <li class="course-item">
      <%- include("../modules/components/_panel.html", { headline: "GACHA",
      disc:
      "Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text "
      }) %>
    </li>
    <li class="course-item">
      <%- include("../modules/components/_panel.html", { headline: "NANIKA",
      disc:
      "Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text "
      }) %>
    </li>
  </ul>
</section>
