$color-main: #ffcc00f6;
$color-sub: #59C9F6;
$color-sub-dark: #4ca6c9;
$color-core: #0DD48D;
$color-accent: #EE7D2B;
$color-accent-dark: #d67026;
$color-base: #F4F4F4;
$color-strong: #0DD48D;
$color-stream: #313948;
$color-img-bg: #C5DDDD;
$color-gray: #ededed;
$color-address: #686E79;
$color-light-gray: #D7D7D7;

$site-width: 1440px;
$z-index-max: 100;
$bp-lg: 1280px;
$bp-sm: 600px;